.form-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 100; */
    border: 1px solid black;
    background-color: whitesmoke;
}

.login-form {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 60px;
    margin: 100px;
    animation: fadeInUp 4s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-content {

    animation: fadeInUp 3s ease backwards;
    width: 50%;
}

.container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;

        align-items: center;
        padding: 20px;
    }

    .login-form {
        width: 90%;
        margin: 20px 0;
    }

    .animated-content {
        width: 90%;
    }

    .container {
        max-width: 90%;
        margin: 20px auto;
    }
}